@charset "utf-8";
/**
 * @author dalwar hossain
 * @copyright 2017
 * @email dalwar014@gmail.com
 * @website http://www.user.tu-berlin.de/hossainarif
 * @date 30.01.2017 23:38
 */
/*----------------------------------------------
Font face
----------------------------------------------*/
@font-face {
  font-family: 'BreeSerif';
  src: url('../fonts/BreeSerif.otf');
}
/*------------------- CSS RESETS START -------*/
body, p, h1, h2, h3, h4, h5, h6, form, fieldset {
     margin: 0px;
     padding: 0px;
}
body {
     padding: 0px;
     margin: 0px;
     font-family: 'BreeSerif', Fallback, serif;
     font-size: 12px;
     text-align: left;
     line-height: 1.6em;
}
/*------------------- CSS RESETS ENDS ------*/
/* ------------------------------------------
Wrapper
-------------------------------------------*/
#wrapper{
  height: auto;
  width: 90%;
  margin: 0 auto;
  /*background-color: yellow;*/
  text-align: center;
}
/* ------------------------------------------
Header
-------------------------------------------*/
#header{
  width: auto;
  height: 100px;
  margin: 0%;
  padding-top: 50px;
  /*background-color: #FF0000;*/
  line-height: normal;
}
#header h4 a{
  text-decoration: underline;
  color: inherit;
}
/* ------------------------------------------
Main Content
-------------------------------------------*/
#main-content{
  width: auto;
  height: auto;
  /*background-color: #00FF00;*/
  padding: 10px 20px;
}
#main-content .intro{
  text-align: justify;
  padding-bottom: 10px;
  font-size: 14px;
}

#main-content #prefix-data{
  width: 100%;
  height: auto;
  /*background-color: green;*/
}
#main-content #prefix-data #as{
  width: 100%;
  height: auto;
  text-align: left;
  /*background-color: green;*/
}
#main-content #prefix-data .menu{
  text-align: left;
  padding:20px 0;
  font-weight: bold;
}
#main-content #prefix-data .menu a{
  text-decoration: none;
  font-size:150%;
}
#main-content #prefix-data h5{
  color: #A55959;
}
#main-content #prefix-data .historical{
  float: left;
  height: auto;
  width: 47%;
  padding: 10px;
}
#main-content #prefix-data .current{
  float: right;
  height: auto;
  width: 47%;
  padding: 10px;
}
#main-content #prefix-data .leftQuery{
  float: left;
  height: auto;
  width: 47%;
  padding: 10px;
}
/*
#main-content #prefix-data .middleQuery{
  float: left;
  height: auto;
  width: 29%;
  padding: 10px;
}
*/
#main-content #prefix-data .rightQuery{
  float: right;
  height: auto;
  width: 47%;
  padding: 10px;
}
#main-content #prefix-data .asinfo{
  float: left;
  height: auto;
  width: 47%;
  padding: 10px;
  text-align: left;
}
#main-content #prefix-data .prefix-info{
  float: left;
  height: auto;
  width: 47%;
  padding: 10px;
  text-align: left;
}
#main-content .business{
  float: right;
  height: auto;
  width: 47%;
  padding: 10px;
  text-align: left;
}
#main-content .theader{
  text-transform: uppercase;
  font-size: 110%;
  font-weight: bold;
}
#main-content #prefix-data table {
  text-align: center;
  border-spacing: 3px;
  border-collapse: collapse;
  vertical-align: top;
}
#main-content .talign{
  text-align: center;
}
#main-content .header-highlight{
  color: #A55959;
}
#main-content .flatButton{
  padding: 6px;
  border: 1px solid #98B5E2;
  background-color: #CAD9F0;
  color: #333333;
  font-family:'BreeSerif', Fallback, serif;
  font-weight: normal;
  cursor: pointer;
}
#main-content .flatButton:hover{
  background-color: #98B5E2;
}
#main-content .txtBox{
    padding: 6px;
    border: 1px solid #DDDDDD;
    background-color:#E8F2FE;
}
#main-content .txtBox:hover{
  border: 1px solid #336699;
}
#main-content .txtBox:focus{
  border: 1px solid #336699;
}
.message{
  color: #FF0000;
  text-align: center;
  font-weight: bold;
}
/* -----------------------------------------
Tool tip
------------------------------------------*/
a.tooltip{
    position:relative;
}
a.tooltip::before {
    content: attr(data-tooltip) ;
    font-size: 12px;
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999px;
    left: 0;
    background:#000;
    color:#e0e0e0;
    padding:0px 7px;
    line-height: 24px;
    height: 24px;
    opacity: 0;
}
a.tooltip:hover::before {
    opacity: 1;
    top:22px;
}
a.tooltip:hover::after {
    content: "";
    opacity: 1;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    z-index: 999;
    position:absolute;
    white-space:nowrap;
    top:17px;
    left: 0px;
}
/* -----------------------------------------
Tab layout
------------------------------------------*/
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #98B5E2;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #CAD9F0;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.tabcontent2 {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.clear{clear:both}
/* ------------------------------------------
Footer
-------------------------------------------*/
#footer{
  height: auto;
  width: auto;
  text-align: center;
  font-style: italic;
  padding: 10px 0;
  /*background-color: #0000FF;*/
}
#footer a{
  text-decoration:underline;
  color:inherit;
}
#footer a:hover{
  color: #763548;
}
